{% extends "main_nav.html" %}

{% block title %}
    {{ school_data.name }}
{% endblock %}

{% block schools_pill_classes %}
    active
{% endblock %}

{% block content %}
    <h1>Data for {{ school_data.name }}</h1>
    <ul>
        {% for ranking in rankings %}
            <li>{{ ranking.business }} has {{ ranking.votes }} votes for its {{ ranking.category.name }}</li>
        {% empty %}
            <li>No data found for {{ school_data.name }}!</li>
        {% endfor %}
    </ul>
    <a href="{% url 'schools:index' %}">See all Schools</a>
{% endblock %}